<a href="https://colab.research.google.com/github/do-huni/NLP_practice/blob/main/OREILLY/NLP%20with%20PyTorch/NLP%20Techniques/4_Chunking%2C_Named_Entity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm')
doc = nlp(u'Mary slapped the green witch.')
for chunk in doc.noun_chunks:
  print('{} - {}'.format(chunk, chunk.label_))

/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

Mary - NP
the green witch - NP

In [ ]:
text = '''
EU NNP B-NP B-ORG
rejects VBZ B-VP O
German JJ B-NP B-MISC
call NN I-NP O
to TO B-VP O
boycott VB I-VP O
British JJ B-NP B-MISC
lamb NN I-NP O
. . O O

Peter NNP B-NP B-PER
Blackburn NNP I-NP I-PER
'''
my_list = []
for i in text.split('\n'):
  if len(i.split()) == 4:
    word, POS, chunk, NET = i.split()
    my_list.append({'word': word, 'POS': POS, 'chunk': chunk, 'NET': NET})

In [ ]:
import pandas as pd
df = pd.DataFrame(my_list)
df

         word  POS chunk     NET
0          EU  NNP  B-NP   B-ORG
1     rejects  VBZ  B-VP       O
2      German   JJ  B-NP  B-MISC
3        call   NN  I-NP       O
4          to   TO  B-VP       O
5     boycott   VB  I-VP       O
6     British   JJ  B-NP  B-MISC
7        lamb   NN  I-NP       O
8           .    .     O       O
9       Peter  NNP  B-NP   B-PER
10  Blackburn  NNP  I-NP   I-PER